* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  ::selection {
    background-color: yellow;
  }
}

.header {
  margin-top: 30px;
  margin-bottom: 120px;
}

nav {
  display: flex;
  gap: 48px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}
nav ul {
  display: flex;
  gap: 48px;
}

header nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}
.home-span {
  color: rgb(16, 16, 17);
  font-weight: 700;
}
.nav-right {
  display: flex;
  gap: 48px;
}
.logo {
  height: 82px;
  width: 135px;
}

/* banner section styles */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner img {
  width: 100%;
  height: 377px;
  margin-top: 100px;
}

.banner-left h1 {
  font-size: 4.1rem;
  font-family: "Noto Serif", serif;
  font-weight: 700;
}
.banner-left {
  flex: 1;
  margin-top: 145px;
  max-width: 43%;
}

.banner-right {
  flex: 1;
}

.banner .banner-left p {
  font-size: 1.35rem;
}

/* Plants container styles */
.Plants {
  margin-bottom: 0;
}
.Plants h1 span {
  color: rgba(233, 90, 8, 1);
}

.Plants h1 {
  font-size: 3.12rem;
  font-weight: 700;
  text-align: center;
}
.plants-para {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
}

.plants-cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;

  column-gap: 20px;
  row-gap: 30px;
  font-family: "Inter", sans-serif;
}
.plants-cards .card img {
  height: 320px;
  width: 100%;
}

.card:hover {
  cursor: pointer;
  border: 1px solid gray;
  background-color: rgba(205, 203, 203, 0.266);
}

.card h3:nth-of-type(1) {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 15px;
}
.card h3:nth-of-type(2) {
  font-weight: 600;
  font-size: 1.4rem;
}

.card button {
  background-color: rgba(233, 90, 8, 1);
  color: white;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 19px 80px;
  margin-top: 40px;
}
.card button:hover {
  cursor: pointer;
  color: rgba(233, 90, 8, 1);
  background-color: white;
  border: 1px solid rgba(233, 90, 8, 1);
  transition: 0.8s;
}

/* plants lover section styles */
.plants-lover-section {
  margin-top: 120px;
}
.plants-lover {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.plants-lover-left {
  background-image: url(../assets/flower-store.png);
  background-size: cover;
  background-repeat: repeat;

  position: relative;
  flex: 1;
  width: 100%;
  height: 597px;
}

.plants-lover-right {
  flex: 1;
  margin-top: 60px;
  margin-left: 30px;
}

.plants-lover-right h1 {
  font-size: 3.12rem;
  font-weight: 700;
}
.plants-lover .plants-lover-right ul li {
  list-style: circle;
  margin-top: 20px;
  font-size: 1.4rem;
}
.plants-lover-right ul {
  margin-left: 40px;
}
.plants-lover-left img {
  height: 286px;
  width: 286px;
  position: absolute;
  left: 68%;
  top: -21%;
  padding: 0%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform:  rotate(360deg);
  }
}
/* latest-deal-Section styles */

.latest-deal-Section {
  margin-top: 130px;
}

.latest-deal-Section h1 {
  font-size: 3.12rem;
  font-weight: 700;
  text-align: center;
}

.latest-deal-Section p {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
  margin-bottom: 120px;
  padding: 0 190px;
}

.deal-cards {
  display: flex;
  gap: 28px;
}
.deal-card-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.deal-card1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url(../assets/deal-bloom.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 397px;
  height: 197px;
  border-radius: 22px;
}
.deal-card2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url(../assets/deal-ana.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 397px;
  height: 197px;
  border-radius: 22px;
}
.deal-card3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url(../assets/deal-zabo.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  border-radius: 22px;
}

.deal-card1,
.deal-card2 {
  font-family: "Noto Serif", serif;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 600;
}

.deal-card1 a,
.deal-card2 a {
  text-decoration: underline;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.deal-card3 {
  font-family: "Noto Serif", serif;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2.5rem;
  font-weight: 600;
}

.deal-card3 a {
  text-decoration: underline;
  font-family: "Inter", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
}

/* shared styles */
body {
  background-color: rgba(245, 248, 255, 1);
}
.container {
  max-width: 1280px;
  margin: auto;
  /* border: 1px solid red; */
}

.inter {
  font-family: "Inter", sans-serif;
}

.noto {
  font-family: "Noto Serif", serif;
}

.dark-1 {
  color: rgba(0, 0, 0, 0.5);
}
.dark-2 {
  color: rgba(37, 36, 50, 1);
}
.orange-bg {
  background-color: rgba(233, 90, 8, 1);
}

.orange {
  color: rgba(233, 90, 8, 1);
}

.black {
  color: rgba(0, 0, 0, 1);
}
