* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  ::selection {
    background-color: yellow;
  }
}

.header {
  margin-top: 30px;
  margin-bottom: 120px;
}

nav {
  display: flex;
  gap: 48px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}
nav ul {
  display: flex;
  gap: 48px;
}

header nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}
.home-span {
  color: rgb(16, 16, 17);
  font-weight: 700;
}
.nav-right {
  display: flex;
  gap: 48px;
}
.nav-right-1 {
  display: flex;
  gap: 48px;
}
.logo {
  height: 82px;
  width: 135px;
}

/* banner section styles */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner img {
  width: 100%;
  height: 377px;
  margin-top: 100px;
}

.banner-left h1 {
  font-size: 4.1rem;
  font-family: "Noto Serif", serif;
  font-weight: 700;
}
.banner-left {
  flex: 1;
  margin-top: 145px;
  max-width: 43%;
}

.banner-right {
  flex: 1;
}

.banner .banner-left p {
  font-size: 1.35rem;
}

/* Plants container styles */
.Plants {
  margin-bottom: 0;
}
.Plants h1 span {
  color: rgba(233, 90, 8, 1);
}

.Plants h1 {
  font-size: 3.12rem;
  font-weight: 700;
  text-align: center;
}
.plants-para {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
}

.plants-cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;

  column-gap: 20px;
  row-gap: 30px;
  font-family: "Inter", sans-serif;
}
.plants-cards .card img {
  height: 320px;
  width: 100%;
}

.card:hover {
  cursor: pointer;
  border: 1px solid gray;
  background-color: rgba(205, 203, 203, 0.266);
}

.card h3:nth-of-type(1) {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 15px;
}
.card h3:nth-of-type(2) {
  font-weight: 600;
  font-size: 1.4rem;
}

.card button {
  background-color: rgba(233, 90, 8, 1);
  color: white;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 19px 80px;
  margin-top: 40px;
}
.card button:hover {
  cursor: pointer;
  color: rgba(233, 90, 8, 1);
  background-color: white;
  border: 1px solid rgba(233, 90, 8, 1);
  transition: 0.8s;
}

/* plants lover section styles */
.plants-lover-section {
  margin-top: 120px;
}
.plants-lover {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.plants-lover-left {
  background-image: url(../assets/flower-store.png);
  background-size: cover;
  background-repeat: repeat;

  position: relative;
  flex: 1;
  width: 100%;
  height: 597px;
}

.plants-lover-right {
  flex: 1;
  margin-top: 60px;
  margin-left: 30px;
}

.plants-lover-right h1 {
  font-size: 3.12rem;
  font-weight: 700;
}
.plants-lover .plants-lover-right ul li {
  list-style: circle;
  margin-top: 20px;
  font-size: 1.4rem;
}
.plants-lover-right ul {
  margin-left: 40px;
}
.plants-lover-left img {
  height: 286px;
  width: 286px;
  position: absolute;
  left: 68%;
  top: -21%;
  padding: 0%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* latest-deal-Section styles */

.latest-deal-Section {
  margin-top: 130px;
}

.latest-deal-Section h1 {
  font-size: 3.12rem;
  font-weight: 700;
  text-align: center;
}

.latest-deal-Section p {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
  margin-bottom: 120px;
  padding: 0 190px;
}

.deal-cards {
  display: flex;
  gap: 28px;
}
.deal-card-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.deal-card1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url(../assets/deal-bloom.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 397px;
  height: 197px;
  border-radius: 22px;
}
.deal-card2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url(../assets/deal-ana.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 397px;
  height: 197px;
  border-radius: 22px;
}
.deal-card3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url(../assets/deal-zabo.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  border-radius: 22px;
}

.deal-card1,
.deal-card2 {
  font-family: "Noto Serif", serif;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 600;
}

.deal-card1 a,
.deal-card2 a {
  text-decoration: underline;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.deal-card3 {
  font-family: "Noto Serif", serif;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2.5rem;
  font-weight: 600;
}

.deal-card3 a {
  text-decoration: underline;
  font-family: "Inter", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
}

.join-section {
  margin-top: 120px;
}

.join-section-full {
  background-image: linear-gradient(rgba(7, 51, 79, 0.4)),
    url(../assets/news-letter-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 533px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.join-section-full h1 {
  font-size: 3.14rem;
  font-weight: 700;
  color: white;
  font-family: "Noto Serif", serif;
}

.join-section-full button {
  background-color: rgba(233, 90, 8, 1);
  color: white;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 550;
  padding: 10px 53px;
}
.join-section-full button:hover {
  cursor: pointer;
  color: rgba(233, 90, 8, 1);
  background-color: white;
  border: 1px solid rgba(233, 90, 8, 1);
  transition: 0.8s;
}
.join-section-full input {
  background-color: white;
  padding-right: 490px;
  padding-left: 10px;
}
/* footer section start */

.full-footer {
  padding: 50px 160px;
  display: flex;
  justify-content: space-around;
}

.img1 {
  height: 36px;
  width: 36px;
}

.img2 {
  height: 30px;
  padding-top: 8px;
}
.footer-section1 {
  width: 20%;
}
.footer-section1 p {
  margin-top: 30px;
}
.footer-section2 {
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
  width: 25%;
}

.footer-section2 ul li {
  margin-bottom: 30px;
  font-size: 0.9rem;
  font-family: "Inter", sans-serif;
  color: rgba(107, 114, 128, 1);
}
.footer-section3 {
  display: flex;
  gap: 20px;
  justify-items: center;
  padding-top: 33px;
}
/* shared styles */
body {
  background-color: rgba(245, 248, 255, 1);
}
.container {
  max-width: 1280px;
  margin: auto;
  /* border: 1px solid red; */
}

.inter {
  font-family: "Inter", sans-serif;
}

.noto {
  font-family: "Noto Serif", serif;
}

.dark-1 {
  color: rgba(0, 0, 0, 0.5);
}
.dark-2 {
  color: rgba(37, 36, 50, 1);
}
.orange-bg {
  background-color: rgba(233, 90, 8, 1);
}

.orange {
  color: rgba(233, 90, 8, 1);
}

.black {
  color: rgba(0, 0, 0, 1);
}

/* media query */

@media (max-width: 768px) {
  /* navbar there will be just logo and cart */
  .container {
    margin: 0 20px;
  }

  .plants-lover,
  .full-footer {
    flex-direction: column;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
  }
  .cart {
    width: 100px;
    height: 20px;
    font-size: 1rem;
    padding-top: 20px;
  }
  .fa-cart-shopping {
    width: 24px;
    height: 24px;
  }

  .nav-right-1 {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-2 {
    display: none;
  }

  /* banner section image on top and text is under the image */
  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }
  .banner img {
    width: 100%;
    height: 245px;
    margin-top: 100px;
  }
  .banner-left {
    flex: 0;
    margin-top: 30px;
    max-width: 80%;
    margin-right: 100px;
  }

  .banner-right {
    flex: 0;
  }

  /* plants lover section in media query there will no more the spinning img and the img go on top and text is going to the down */
  .plants-lover-section {
    margin-top: 60px;
  }

  .plants-lover-left {
    width: 100%;
    background-image: url("../assets/flower-store.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 650px; /* Ensures minimum height */
  }

  .plants-lover-right {
    margin-top: 30px;
    margin-left: 0;
    padding: 0 15px;
  }

  .plants-lover-right h1 {
    font-size: 2rem;
    text-align: center;
  }

  .plants-lover-right ul {
    margin-left: 20px;
  }

  .plants-lover-right ul li {
    font-size: 1rem;
  }

  /* Hide the spinning badge on mobile */
  .plants-lover-left img {
    display: none;
  }
  .latest-deal-Section h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .latest-deal-Section p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9rem;
    margin-bottom: 30px;
    padding: 0 2px;
  }
  .deal-cards {
    flex-direction: column;
    gap: 20px;
  }
  .deal-card1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
      url(../assets/deal-bloom.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 361px;
    height: 197px;
    border-radius: 22px;
  }
  .deal-card2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
      url(../assets/deal-ana.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 361px;
    height: 197px;
  }
  .deal-card3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
      url(../assets/deal-zabo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 361px;
    height: 197px;
  }

  .deal-card1,
  .deal-card2 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .deal-card1 a,
  .deal-card2 a {
    font-size: 1rem;
    font-weight: 500;
  }

  .deal-card3 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .deal-card3 a {
    font-size: 1rem;
    font-weight: 500;
  }

  .join-section-full {
    background-image: linear-gradient(rgba(7, 51, 79, 0.4)),
      url(../assets/news-letter-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 276px;
    width: 393px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  .join-section-full button {
    font-size: 0.9rem;
    font-weight: 550;
    padding: 19px 12px;
  }

  .join-section-full input {
    padding-right: 40px;
    padding-left: 5px;
  }
  .join-section-full h1 {
    font-size: 1.4rem;
  }

  .footer-section1 {
    width: 100%;
  }
  .footer-section1 p {
    margin-top: 0;
  }

  .footer-section2 {
    display: flex;
    flex-direction: column;
  }
  .footer-section3 {
    display: flex;
    gap: 20px;
    justify-items: center;
    padding-top: 0px;
  }
  /* our planets: column will be 2 */

  .plants-cards {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    column-gap: 0px;
    row-gap: 30px;
    font-family: "Inter", sans-serif;
  }
  .plants-cards .card img {
    height: 196px;
    width: 100%;
  }
  .card {
    width: 171px;
  }
  .card:hover {
    cursor: pointer;
    border: 1px solid gray;
    background-color: rgba(205, 203, 203, 0.266);
  }

  .card h3:nth-of-type(1) {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 15px;
  }
  .card h3:nth-of-type(2) {
    font-weight: 600;
    font-size: 1rem;
  }

  .card button {
    background-color: rgba(233, 90, 8, 1);
    color: white;
    width: 100%;
    border: none;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 19px 30px;
    margin-top: 40px;
  }
  .card button:hover {
    cursor: pointer;
    color: rgba(233, 90, 8, 1);
    background-color: white;
    border: 1px solid rgba(233, 90, 8, 1);
    transition: 0.8s;
  }
}
