* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}













/* shared styles */
body {
  background-color: rgba(245, 248, 255, 1);
}
.container {
  max-width: 1280px;
  margin: auto;
}

.inter {
  font-family: "Inter", sans-serif;
}

.noto {
  font-family: "Noto Serif", serif;
}

.dark-1 {
  color: rgba(0, 0, 0, 0.5);
}
.dark-2 {
  color: rgba(37, 36, 50, 1);
}
.orange-bg {
  background-color: rgba(233, 90, 8, 1);
}

.orange {
  color: rgba(233, 90, 8, 1);
}

.black {
  color: rgba(0, 0, 0, 1);
}
